<template>
  <v-container 
    fill-height 
    grid-list-xl>
    <v-layout 
      row
      justify-center
      wrap>
      <v-flex xs8>
        <v-card>
          <v-card-title>Add User</v-card-title>
          <v-spacer />
          <v-icon>fa-user-plus</v-icon>
        </v-card>
        <v-card-text>
          <v-text-field 
            v-model="userEmail" 
            type="text"
            color="primary" 
            label="User Email"/>
          <v-text-field 
            v-model="userPassword" 
            type="password"
            color="primary" 
            label="User Password"/>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn @click.native="handleUserAdd">add user</v-btn>
        </v-card-actions>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import axios from 'axios'

export default {
  layout: 'private',
  data() {
    return {
      userEmail: '',
      userName:'',
      userPassword: '',
      userId: '',
    }
  },
  computed: {},
  methods: {
    handleUserAdd() {
      let formData = new FormData()

      formData.append('email', this.userEmail)
      formData.append('password', this.userPassword)

      axios.post( 'https://msis-procurement-api.herokuapp.com/users', //'http://localhost:3030/uploads',
        formData,
        {
          headers: {'Content-Type': 'multipart/form-data'},
          onUploadProgress: function( progressEvent ) {
            this.uploadPercentage = parseInt( Math.round( ( progressEvent.loaded * 100 ) / progressEvent.total ) );
          }.bind(this)
        }
      )
      .then((response) => {
        console.log(response.data)
      })
    }
  }
}
</script>

<style>

</style>
