<template>
  <div>
    <v-toolbar 
      light 
      flat>
      <v-toolbar-title>
        Submissions
      </v-toolbar-title>
    </v-toolbar>
    <v-card>
      <v-card-title>
        
        <v-spacer/>
        <v-text-field
          v-model="search"
          prepend-icon="search"
          label="Search"
          clearable
          single-line
          box
          hide-details/>
      </v-card-title>
      <v-data-table
        :items="filterResults"
        :headers="headers"
        item-key="_id">
        <template slot="no-data">
          <v-alert 
            :value="true" 
            color="red darken-2" 
            icon="warning">
            No data for your search <span class="title font-weight-bold amber--text">{{ search }}</span>
          </v-alert>
        </template>
        <template 
          slot="items"
          slot-scope="props">
          <tr @click="props.expanded = !props.expanded">
            <td>{{ props.item._id }}</td>
            <td>{{ props.item.companyName }}</td>
            <td>{{ props.item.contactEmail }}</td>
            <td>{{ props.item.entityDuns }}</td>
            <td>{{ props.item.solNumber }}</td>
            <td>{{ props.item.solTitle }}</td>
            <td class="text-sm-right">{{ props.item.createdAt }}</td>
          </tr>
        </template>
        <template 
          slot="expand" 
          slot-scope="props">
          <v-card color="grey">
            <v-container grid-list-md>
              <v-layout row>
                <v-flex 
                  v-for="(file, i) in props.item.files" 
                  :key="i">
                  <v-card hover>
                    <v-list dense>
                      <v-list-tile>
                        <v-list-tile-content>
                          <v-list-tile-title>{{ file }}</v-list-tile-title>
                        </v-list-tile-content>
                      </v-list-tile>
                    </v-list>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card>          
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  layout: 'private',
  asyncData ({ req, params }) {
    return axios.get('https://msis-procurement-api.herokuapp.com/uploads')
    .then((res) => {
      return { items: res.data.data }
    })
  },
  layout: 'private',
  data() {
    return {
      search: '',
      picker: '',
      headers: [
        { 
          text: 'Submission ID',
          align: 'left',
          sortable: false,
          value: '_id'
          },
        { 
          text: 'Company',
          align: 'left',
          sortable: false,
          value: 'companyName'
        },
        { 
          text: 'Email',
          align: 'left',
          sortable: false,
          value: 'contactEmail'
        },
        { 
          text: 'DUNS',
          align: 'left',
          sortable: false,
          value: 'entityDuns'
        },
        { 
          text: 'RFx #',
          align: 'left',
          sortable: false,
          value: 'solNumber'
        },
        { 
          text: 'Sol. Title',
          align: 'left',
          sortable: false,
          value: 'solTitle'
        },
        {
          text: 'Received',
          align: 'right',
          value: 'createdAt'
        }
      ],
    }
  },
  computed: {
     filterResults() {
       return this.items.filter(
         item => item._id.toLowerCase().indexOf(this.search.toLowerCase()) > -1 ||
         item.entityDuns.toLowerCase().indexOf(this.search.toLowerCase()) > -1  ||
         item.companyName.toLowerCase().indexOf(this.search.toLowerCase()) > -1  ||
         item.contactEmail.toLowerCase().indexOf(this.search.toLowerCase()) > -1  ||
         item.solNumber.toLowerCase().indexOf(this.search.toLowerCase()) > -1  ||
         item.solTitle.toLowerCase().indexOf(this.search.toLowerCase()) > -1  ||
         item.createdAt.toLowerCase().indexOf(this.search.toLowerCase()) > -1 );
        // || item.files[0].toLowerCase().indexOf(this.search.toLowerCase()) > -1);
     },
  },
  methods: {
    reloadFiles() {
      axios
        .get('https://nervous-shockley-39b4a5.netlify.com/uploads')
        .then(res => (this.items = res.data.data))
    }
  }
}
</script>

<style>

</style>
