<template>
  <v-container 
    fill-height 
    grid-list-xl>
    <v-layout 
      row
      justify-center
      wrap>
      <v-flex xs8>
        <v-card>
          
          <v-toolbar dense>
            <v-toolbar-title>
              Add User
            </v-toolbar-title>
            <v-spacer />
            <v-btn 
              icon 
              @click.native="addFirst"><v-icon>fa-user-plus</v-icon></v-btn>
          </v-toolbar>
          
          <v-card-text>
            <v-text-field 
              v-model="firstUserEmail" 
              :placeholder="firstUserEmail"
              type="text"
              color="primary"
              label="User Email"/>
            <v-text-field 
              v-model="firstUserPassword" 
              :placeholder="firstUserPassword"
              type="password"
              color="primary" 
              label="User Password"/>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn @click.native="addFirst">add user</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import axios from 'axios'

export default {
  auth: false,
  layout: 'public',
  data() {
    return {
      firstUserEmail: 'dkay@mdek12.org',
      firstUserPassword: 'humanoid-kentucky',
      secondUserEmail: 'admin@mdek12.org',
      secondUserPassword: 'wizardry-ammonite',
      userEmail: '',
      userName:'',
      userPassword: '',
      userId: '',
    }
  },
  computed: {},
  methods: {
    addFirst() {
      let formData = new FormData()

      formData.append('email', this.firstUserEmail)
      formData.append('password', this.firstUserPassword)

      axios.post( 'https://msis-procurement-api.herokuapp.com/users', //'http://localhost:3030/uploads',
        formData,
        {
          headers: {'Content-Type': 'multipart/form-data'},
          onUploadProgress: function( progressEvent ) {
            this.uploadPercentage = parseInt( Math.round( ( progressEvent.loaded * 100 ) / progressEvent.total ) );
          }.bind(this)
        }
      )
      .then((response) => {
        console.log(response.data)
      })
    }
  }
}
</script>

<style>

</style>
