<!--
  /procurement/submission.vue
  Procurement response submission workflow
-->
<template>
  <div>
    <v-stepper 
      v-model="step" 
      class="elevation-0">
      <v-stepper-header  
        light>
        <v-stepper-step
          :complete="step > 1"
          color="error"
          step="1">Entity ID Number
        <small class="error--text">Required</small></v-stepper-step>
        <v-divider />
        <v-stepper-step
          :complete="step > 2"
          color="error"
          step="2">Entity Information
        <small class="error--text">Required</small></v-stepper-step>
        <v-divider />
        <v-stepper-step 
          :complete="step > 3"
          color="warning"
          step="3">Solicitation Information
        <small class="orange--text">Optional</small></v-stepper-step>
        <v-divider />
        <v-stepper-step 
          :complete="step > 4"
          color="error"
          step="4">Attachments
        <small class="error--text">Required</small></v-stepper-step>
        <v-divider />
        <v-stepper-step 
          :complete="step > 5"
          color="error"
          step="5">Final Checks
        <small class="error--text">Required</small></v-stepper-step>
        <v-divider />
        <v-stepper-step 
          :complete="step > 6"
          color="error"
          step="6">Submission Verification</v-stepper-step>
      </v-stepper-header>
    
      <v-stepper-items>
        <v-stepper-content step="1">
          <v-container
            grid-list-lg 
            class="pt-1">
            <v-layout
              row
              justify-center>
              <v-flex 
                xs12 
                md6>
                <v-card 
                  flat 
                  color="transparent">
                  <v-card-text>
                    <p class="subheading">
                      To verify eligibility, MDE requires a 
                      <v-tooltip bottom>
                        <span 
                          slot="activator" 
                          class="primary--text">
                          Business ID 
                        </span>
                        Business IDs are 6 or 7 digit numbers assigned to businesses registered with the MSoS.
                      </v-tooltip>
                      from the Mississippi Secretary of State's Office or a
                      <v-tooltip bottom>
                        <span 
                          slot="activator" 
                          class="secondary--text">
                          DUNS Number
                        </span>
                        DUNS numbers are 9 digit numbers required to do business with the federal government.
                      </v-tooltip>
                      issued by Dun & Bradstreet.
                    </p>
                  </v-card-text>
                  
                  <v-card-text>
                    <v-alert
                      :value="true"
                      type="warning"
                      class="black--text py-3 mx-3">
                      To continue, you must either have an Business ID or a DUNS #.
                    </v-alert>
                  </v-card-text>
                  
                  <v-card-actions>                
                    <v-btn
                      large
                      depressed
                      block
                      color="primary"
                      
                      @click="entityIdType = 'sos'">I have a Business ID</v-btn>
                      
                    <v-btn
                      depressed
                      block
                      large
                      color="secondary"
                      @click="entityIdType = 'duns'">
                      I have a DUNS #
                    </v-btn>
                  </v-card-actions>
                  <v-slide-y-transition>
                    <v-card-text v-if="entityIdType">
                      <v-text-field
                        v-if="entityIdType == 'sos'"
                        :rules="[]"
                        v-model="entityId"
                        validate-on-blur
                        color="primary"
                        label="Business ID"
                        maxlength="7"
                        counter
                        outline
                        hint="Enter your 6/7 digit Business ID as required for contracts."
                        type="text" />
                    
                      <v-text-field
                        v-if="entityIdType == 'duns'"
                        :rules="[]"
                        v-model="entityId"
                        validate-on-blur
                        label="DUNS Number"
                        maxlength="9"
                        counter
                        color="secondary"
                        outline
                        hint="Enter your 9 digit DUNS # as required for grants."
                        type="text" />
                    </v-card-text>
                  </v-slide-y-transition>
                </v-card>
                  

                
              </v-flex>
            </v-layout>
          </v-container>
        </v-stepper-content>

        <v-stepper-content step="2">
          <v-container
            grid-list-lg>
            
            <v-layout
              align-content-space-between
              row
              justify-center>
              
              <v-flex 
                xs12 
                md6>
                <v-form 
                  v-model="valid" 
                  lazy-validation>
                  
                  
                  <v-text-field 
                    v-model="companyName"
                    :placeholder="!companyName ? 'ACME Inc.' : companyName"
                    :rules="[rules.required]"
                    validate-on-blur
                    class="truncate-text"
                    color="primary"
                    label="Company or DBA name"/>
                    
                  
                  
                  <v-text-field 
                    :rules="[rules.required, rules.email]"
                    v-model="contactEmail"
                    :placeholder="!contactEmail ? 'wethelbert@gmail.com' : contactEmail"
                    validate-on-blur
                    hint="All submission correspondence will be made through this Email."
                    color="primary"
                    label="Email"/>
                  
                  
                  <v-text-field
                    v-model="contactFirstName"
                    :rules="[rules.required]"
                    :placeholder="!contactFirstName ? 'Wile': contactFirstName"
                    validate-on-blur
                    color="primary"
                    label="First Name"/>
                  
                  <v-text-field
                    v-model="contactLastName"
                    :rules="[rules.required]"
                    validate-on-blur
                    color="primary"
                    label="Last Name"
                    placeholder="Ethelbert"/>
                  
                  
                  
                  
                </v-form>
              </v-flex>
                  
            </v-layout>
              
            




            
          </v-container>
        </v-stepper-content>


        <v-stepper-content step="3">
          <v-container
            fill-height
            grid-list-md
            class="pt-0">
            <v-layout 
              row
              fill-height
              wrap
              align-center
              justify-center>
              
              <v-flex 
                xs12 
                md6>
                <v-text-field 
                  v-model="solTitle"
                  :rules="[rules.required]"
                  :placeholder="!solTitle ? 'Rocket Skates' : solTitle"
                  validate-on-blur
                  color="secondary"
                  hint="Enter solicitation title as it appears on RFP"
                  label="Solicitation Title"/>
                  
                
                
                
                <v-text-field 
                  :rules="[rules.required, rules.rfxCounter]"
                  v-model="solNumber"
                  validate-on-blur
                  color="secondary"
                  label="RFX Number"
                  hint="If required, enter your RFx Number as stated on the RFP."
                  placeholder="RFX Number"/>

                
                <v-alert
                  :value="true"
                  type="warning"
                  class="black--text py-1 mx-3">
                  If your solicitation requires an RFx number and you do not provide it, 
                  your solicitation will be invalidated. Check the box below if your solicitation does not
                  require an RFx number.
                </v-alert>
                  

                <v-checkbox
                  v-model="rfxVerification"
                  light
                  color="success"
                  label="My submission does not require an RFX number" />
                  
              </v-flex>
              
            </v-layout>
          </v-container>
        </v-stepper-content>


        <v-stepper-content step="4">
          <v-container
            fill-height
            grid-list-md
            class="pt-0">
            <v-layout 
              row
              fill-height
              wrap
              align-center
              justify-center>
              
              <v-flex 
                xs12 
                md6>
                <v-card
                  :class="dragging ? 'grey lighten-4 elevation-5' : 'grey lighten-3 elevation-0'"
                  @drop.stop.prevent="handleDragDropUpload"
                  @dragenter.stop.prevent="dragging = true"
                  @dragover.stop.prevent="dragging = true"
                  @dragleave.stop.prevent="dragging = false"
                  @click="addFiles">
                  <v-container 
                    fill-height 
                    fluid
                    text-sm-center>
                    <v-layout
                      fill-height
                      align-center
                      justify-center
                      row>
                      <v-flex xs12>
                        <v-icon 
                          color="red" 
                          size="48">fa-cloud-upload-alt</v-icon>
                        <p class="title primary--text">Click or drag files to attach</p>
                        
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card>
                <v-slide-y-transition>
                  <template
                    v-if="files.length > 0">
                  
                    <v-data-table
                      :items="files"
                      :headers="headers"
                      class="elevation-0"
                      item-key="name"
                      light
                      hide-actions>
                      <template
                        slot="items"
                        slot-scope="props">
                        <td>
                          <v-icon>{{ props.item.type === 'application/pdf' ? 'fa-file-pdf' : 'fa-user' }}</v-icon>
                        </td>
                        <td>{{ props.item.name }}</td>
                        <td>{{ props.item.size }}</td>
                        <td class="text-sm-right">
                          <v-btn 
                            icon
                            dark 
                            small 
                            color="error"
                            @click="props.expanded = !props.expanded">
                          
                            <v-icon  
                              dark
                              small>fa-trash-alt</v-icon>
                          </v-btn>
                        </td>
                      </template>
                      <template 
                        slot="expand" 
                        slot-scope="props">
                        <v-card 
                          color="error" 
                          dark>
                          <v-card-text class="body-1">
                            Are you sure you want to remove <span class="font-weight-bold">{{ props.item.name }}?</span>
                          </v-card-text>
                          <v-card-actions>
                            <v-btn
                              depressed
                              color="white"
                              light
                              @click="removeFile(props.item)">
                              Delete
                            </v-btn>
                            <v-btn
                              small
                              outline
                              color="white"
                              @click="props.expanded = !props.expanded">
                              cancel
                            </v-btn>
                          </v-card-actions>
                        </v-card>

                      </template>
                      <template slot="footer">
                        <td/>
                        <td>Number of files: {{ files.length }}</td>
                        <td>
                          <v-btn
                            small
                            color="error"
                            @click="clearFiles()">
                            Clear files
                          </v-btn>
                        </td>
                      </template>
                    </v-data-table>
                  
                  </template>
                </v-slide-y-transition>
              </v-flex>
            </v-layout>
          </v-container>
        </v-stepper-content>


        <v-stepper-content step="5">
          <v-container
            fill-height
            grid-list-md
            class="pt-0">
            <v-layout 
              row
              fill-height
              wrap
              align-center
              justify-center>
              
              <v-flex 
                xs12 
                md6>
                <v-alert
                  :value="true"
                  type="warning"
                  class="black--text py-1 mx-5">
                  <h1 class="body-2">Pre-submission Checks:</h1>
                  <p class="caption">
                    Use this screen to verify the information being sent to MDE.
                    Verify all required files are attached and all fields are correct.
                  </p>  
                </v-alert>
              
                <v-subheader>Attached Files:</v-subheader>
                <v-divider inset/>
                <v-list 
                  dense>
                  <template v-for="(file, i) in files">
                    <v-list-tile
                      :key="file.name">
                      <v-list-tile-avatar>
                        <v-icon>fa-file-pdf</v-icon>
                      </v-list-tile-avatar>
                      <v-list-tile-content>
                        <v-list-tile-sub-title>Filename:</v-list-tile-sub-title>
                        <v-list-tile-title class="text-concat">{{ file.name }}</v-list-tile-title>
                      </v-list-tile-content>
                      <v-spacer />
                      <v-list-tile-content class="text-sm-right">
                        <v-list-tile-sub-title>Size:</v-list-tile-sub-title>
                        <v-list-tile-title class="text-sm-right">{{ file.size }}</v-list-tile-title>
                      </v-list-tile-content>
                    </v-list-tile>
                    <v-divider
                      v-if="i + 1 < files.length"
                      :key="i"
                      inset />
                  </template>
                </v-list>

                <v-subheader>Attached Data:</v-subheader>
                <v-divider inset/>
                <v-list 
                  dense>
                  <v-list-tile>
                    <v-list-tile-avatar>
                      <v-icon>fa-building</v-icon>
                    </v-list-tile-avatar>
                    <v-list-tile-content>
                      <v-list-tile-sub-title>Company:</v-list-tile-sub-title>
                      <v-list-tile-title>{{ companyName }} / DUNS: {{ entityDuns }}</v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                  <v-divider inset />
                  <v-list-tile>
                    <v-list-tile-avatar>
                      <v-icon>fa-user</v-icon>
                    </v-list-tile-avatar>
                    <v-list-tile-content>
                      <v-list-tile-sub-title>Contact Name:</v-list-tile-sub-title>
                      <v-list-tile-title class="text-capitalize">{{ contactFirstName }} {{ contactLastName }}</v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                  <v-divider inset />
                  <v-list-tile>
                    <v-list-tile-avatar>
                      <v-icon>fa-paper-plane</v-icon>
                    </v-list-tile-avatar>
                    <v-list-tile-content>
                      <v-list-tile-sub-title>Email:</v-list-tile-sub-title>
                      <v-list-tile-title>{{ contactEmail }}</v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                  <v-divider inset />
                  <v-list-tile>
                    <v-list-tile-avatar>
                      <v-icon>fa-file-alt</v-icon>
                    </v-list-tile-avatar>
                    <v-list-tile-content>
                      <v-list-tile-sub-title>Solicitation Title:</v-list-tile-sub-title>
                      <v-list-tile-title>{{ solTitle }}</v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                  <v-divider inset />
                  <v-list-tile>
                    <v-list-tile-avatar>
                      <v-icon>fa-tags</v-icon>
                    </v-list-tile-avatar>
                    <v-list-tile-content>
                      <v-list-tile-sub-title>RFx Number:</v-list-tile-sub-title>
                      <v-list-tile-title>{{ solNumber }}</v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </v-list>
                
                <v-checkbox
                  v-model="validInfo"
                  color="success" 
                  light>
                  <div slot="label">
                    <span
                      :class="validInfo ? 'body-1 success--text' : 'body-1 red--text'">By checking this box, I verify that the information above is true and correct.</span>
                  </div>
                </v-checkbox>
              </v-flex>


            </v-layout>
          </v-container>
        </v-stepper-content>

        <v-stepper-content step="6">
          <v-container
            class="pt-0"
            grid-list-xl>
            <v-layout
              row
              justify-center
              wrap>
              <v-flex
                xs12
                md10>
                
                <v-card light>
                  <v-toolbar
                    dense
                    class="green" 
                    dark
                    card
                    flat>
                    
                    <v-toolbar-title class="headline font-weight-bold">Success!</v-toolbar-title>
                    <v-btn 
                      icon 
                      @click="reset"/>
                    <v-spacer />
                    <v-toolbar-items>
                      <v-btn
                        class="hidden-md-and-down"
                        flat
                        @click="print">
                        <v-icon left>fa-print</v-icon>
                        Print Submission
                      </v-btn>
                      <v-btn
                        class="hidden-md-and-up"
                        icon
                        @click="print">
                        <v-icon>fa-print</v-icon>
                      </v-btn>
                    </v-toolbar-items>
                  </v-toolbar>
                  <div ref="capture">
                    
                    <v-card-text>
                      <v-container 
                        fluid 
                        grid-list-xs>
                        <v-layout 
                          row 
                          wrap>
                          <v-flex 
                            xs12 
                            md4>
                            <h1 class="body-2 primary--text">Submission Details:</h1>
                            <v-divider />
                            <v-list>
                              <v-list-tile>
                                <v-list-tile-action>
                                  <v-icon>fa-fingerprint</v-icon>
                                </v-list-tile-action>
                                <v-list-tile-content>
                                  <v-list-tile-sub-title>Submission ID:</v-list-tile-sub-title>
                                  <v-list-tile-title>{{ uploadId }}</v-list-tile-title>
                                </v-list-tile-content>
                              </v-list-tile>
                              <v-divider inset/>
                              <v-list-tile>
                                <v-list-tile-action>
                                  <v-icon>fa-clock</v-icon>
                                </v-list-tile-action>
                                <v-list-tile-content>
                                  <v-list-tile-sub-title>Submission time:</v-list-tile-sub-title>
                                  <v-list-tile-title>{{ submissionTime }}</v-list-tile-title>
                                </v-list-tile-content>
                              </v-list-tile>
                              <v-divider inset/>
                              <v-list-tile>
                                <v-list-tile-action>
                                  <v-icon>fa-paper-plane</v-icon>
                                </v-list-tile-action>
                                <v-list-tile-content>
                                  <v-list-tile-sub-title>Confirmation Email:</v-list-tile-sub-title>
                                  <v-list-tile-title>{{ contactEmail }}</v-list-tile-title>
                                </v-list-tile-content>
                              </v-list-tile>
                            </v-list>
                          </v-flex>

                          <v-flex 
                            xs12 
                            md4>
                            <h1 class="body-2 primary--text">Files Received:</h1>
                            <v-divider />
                            <v-list>
                              <template v-for="(file, i) in uploadedFiles">
                                <v-list-tile
                                  :key="i.file">
                                  <v-list-tile-avatar>
                                    <v-icon>fa-file-pdf</v-icon>
                                  </v-list-tile-avatar>
                                  <v-list-tile-content>
                                    <v-list-tile-sub-title>Filename:</v-list-tile-sub-title>
                                    <v-list-tile-title class="text-concat">{{ file }}</v-list-tile-title>
                                  </v-list-tile-content>
                                </v-list-tile>
                                <v-divider
                                  v-if="i + 1 < files.length"
                                  :key="i"
                                  inset />
                              </template>
                            </v-list>
                          </v-flex>

                          <v-flex 
                            xs12 
                            md4>
                            <h1 class="body-2 primary--text">Attached Information:</h1>
                            <v-divider />
                            <v-list>
                              <v-list-tile>
                                <v-list-tile-avatar>
                                  <v-icon>fa-building</v-icon>
                                </v-list-tile-avatar>
                                <v-list-tile-content>
                                  <v-list-tile-sub-title>Company:</v-list-tile-sub-title>
                                  <v-list-tile-title>{{ formResponse.companyName }}</v-list-tile-title>
                                </v-list-tile-content>
                              </v-list-tile>
                              <v-divider inset />
                              <v-list-tile>
                                <v-list-tile-avatar>
                                  <v-icon>fa-id-card</v-icon>
                                </v-list-tile-avatar>
                                <v-list-tile-content>
                                  <v-list-tile-sub-title>Entity ID:</v-list-tile-sub-title>
                                  <v-list-tile-title>{{ formResponse.entityDuns }}</v-list-tile-title>
                                </v-list-tile-content>
                              </v-list-tile>
                              <v-divider inset />
                              <v-list-tile>
                                <v-list-tile-avatar>
                                  <v-icon>fa-user</v-icon>
                                </v-list-tile-avatar>
                                <v-list-tile-content>
                                  <v-list-tile-sub-title>Contact Name:</v-list-tile-sub-title>
                                  <v-list-tile-title class="text-capitalize">{{ formResponse.contactFirstName }} {{ formResponse.contactLastName }}</v-list-tile-title>
                                </v-list-tile-content>
                              </v-list-tile>
                              <v-divider inset />
                              <v-list-tile>
                                <v-list-tile-avatar>
                                  <v-icon>fa-paper-plane</v-icon>
                                </v-list-tile-avatar>
                                <v-list-tile-content>
                                  <v-list-tile-sub-title>Email:</v-list-tile-sub-title>
                                  <v-list-tile-title>{{ formResponse.contactEmail }}</v-list-tile-title>
                                </v-list-tile-content>
                              </v-list-tile>
                              <v-divider inset />
                              <v-list-tile>
                                <v-list-tile-avatar>
                                  <v-icon>fa-file-alt</v-icon>
                                </v-list-tile-avatar>
                                <v-list-tile-content>
                                  <v-list-tile-sub-title>Solicitation Title:</v-list-tile-sub-title>
                                  <v-list-tile-title>{{ formResponse.solTitle }}</v-list-tile-title>
                                </v-list-tile-content>
                              </v-list-tile>
                              <v-divider inset />
                              <v-list-tile>
                                <v-list-tile-avatar>
                                  <v-icon>fa-tags</v-icon>
                                </v-list-tile-avatar>
                                <v-list-tile-content>
                                  <v-list-tile-sub-title>RFx Number:</v-list-tile-sub-title>
                                  <v-list-tile-title>{{ formResponse.solNumber }}</v-list-tile-title>
                                </v-list-tile-content>
                              </v-list-tile>
                            </v-list>
                          </v-flex>
                        </v-layout>
                      </v-container>
                    </v-card-text>
                  </div>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-stepper-content>

      </v-stepper-items>
    </v-stepper>

    
    <v-footer
      app
      height="auto">
      <v-toolbar
        flat>
        <v-spacer />
        <v-btn
          v-if="step < 6"
          :disabled="step == 1"
          light
          depressed
          class="warning primary--text"
          @click="step--">
          <v-icon left>fa-caret-left</v-icon>
          Back
        </v-btn>
        <v-btn
          v-if="step < 5"
          :disabled="(step == 1 && !entityId) || (step == 3 && !rfxVerification && !solNumber) || (step == 4 && !files.length)"
          class="green white--text"
          depressed
          @click.native="step++">
          Continue
          <v-icon right>fa-caret-right</v-icon>
        </v-btn>
        <v-btn
          v-if="step == 5"
          :disabled="!validInfo"
          class="green white--text"
          light
          depressed
          @click.native="axiosUpload">
          Submit
          <v-icon right>fa-cloud-upload-alt</v-icon>
        </v-btn>
        <v-btn
          v-if="step == 6"
          color="green"
          dark
          depressed
          @click="submissionFinished">
          Back to Procurement
        </v-btn>
        <v-spacer />
        
      </v-toolbar>
    </v-footer>

    <v-dialog
      v-model="printModal"
      max-width="810">
      <v-card 
        flat 
        light>
        <v-toolbar
          dark
          dense
          flat
          class="green">
          <v-toolbar-title>
            Save or print your verification below:
          </v-toolbar-title>
          <v-spacer />
          <v-toolbar-items>
            <v-btn
              flat
              @click="printModal = false">
              <v-icon left>fa-times-circle</v-icon>
              Close Window</v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-card-text class="pa-1">
          
          <img 
            :src="printFile" 
            width="800">
      
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-snackbar
      v-model="printSnackbar"
      color="warning"
      class="black--text"
      bottom
      multi-line>
      Right-click and 'Save' or 'Print' the above image for your records.
      <v-btn
        color="accent"
        flat
        @click="printSnackbar = false"
      >
        OK!
      </v-btn>
    </v-snackbar>
    <input
      ref="files"
      type="file"
      name="uri"
      class="hidden"
      multiple
      @change="onFilesAdded" >
  </div>
</template>

<script>
import axios from 'axios'               // used for REST calls
import html2canvas from 'html2canvas'   // converts DIV to image for print

export default {
  name: 'SubmissionForm',
  layout: 'public',
  auth: false,
  components: {},
  data() {
    return {

      // form validation rules
      rules: {
        required: value => !!value || 'This field is required.',
        idCounter: value => (value.length == 6 || value.length == 7 || value.length == 9)  || 'You must enter a 6/7 digit SoS or 9 digit DUNS number.',
        sosCounter: value => (value.length == 6 || value.length == 7)  || 'Your SoS number must be 6 or 7 digits.',
        dunsCounter: value => (value.length == 9)  || 'Your DUNS number must be exactly 9 digits.',
        rfxCounter: value => (value.length == 10)  || 'Your RFx number must be exactly 10 digits.',
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Invalid e-mail.'
        }
      },


      isLoading: false,
      items: [],
      model: null,
      valid: false,         // form validation
      verify: false,

      // Interface
      dragging: false,          // changes status of drag+drop upload
      entityIdType: '',         // DUNS or SoS Number
      files: [],                // file array
      headers: [                // headers for data table
        { text: 'Type', sortable: false, value: 'type' },
        { text: 'Filename', sortable: false, value: 'name' },
        { text: 'Size', sortable: false, value: 'size' },
        { text: 'Delete', sortable: false, value: 'delete', align: 'right' }
      ],
      output: null,             // output for print to image
      printFile: '',            // for printing server response
      printModal: false,        // popup
      rfxVerification: false,
      printSnackbar: false,
      rfxCheckbox: false,
      selected: [],             // files attached to submission by user
      step: 0,                  // controls step of submission process
      uploading: false,         // controls loading popup
      uploadPercentage: 0,      // progress bar for file submission
      validInfo: false,         // user verification of submission
      
      // server response
      formResponse: [],          // form response from server
      submissionTime: '',        // submission timestamp response from server
      uploadedFiles: [],         // submitted file response from server
      uploadId: '',              // database entry key response from server
    }
  },
  computed: {
    rfxWarning() {
      if(this.solNumber.length === 0 && this.step == 3) { 
        return true
      } 
      return false
    },
    form() {
      return this.$store.state.form
    },
    companyName: {
      get() {
        return this.$store.state.form.entityName
      },
      set(value) {
        this.$store.commit('UPDATE_ENTITY_NAME', value);
      }
    },
    contactFirstName: {
      get() {
        return this.$store.state.form.contactFirstName
      },
      set(value) {
        this.$store.commit('UPDATE_FIRST_NAME', value);
      }
    },
    contactEmail: {
      get() {
        return this.$store.state.form.contactEmail
      },
      set(value) {
        this.$store.commit('UPDATE_CONTACT_EMAIL', value);
      }
    },
    contactLastName: {
      get() {
        return this.$store.state.form.contactLastName
      },
      set(value) {
        this.$store.commit('UPDATE_LAST_NAME', value);
      }
    },
    entityDuns: {
      get() {
        return this.$store.state.form.entityDuns
      },
      set(value) {
        this.$store.commit('UPDATE_ENTITY_DUNS', value);
      }
    },
    entityId: {
      get() {
        return this.$store.state.form.entityId
      },
      set(value) {
        this.$store.commit('UPDATE_ENTITY_ID', value);
      }
    },
    solNumber: {
      get() {
        return this.$store.state.form.solNumber
      },
      set(value) {
        this.$store.commit('UPDATE_SOL_NUMBER', value);
      }
    },
    solTitle: {
      get() {
        return this.$store.state.form.solTitle
      },
      set(value) {
        this.$store.commit('UPDATE_SOL_TITLE', value);
      }
    }
  },
  watch: {
      search (val) {
        // Items have already been loaded
        if (this.items.length > 0) return

        // If no items returned then start loading bar
        this.isLoading = true

        // Lazily load input items
        axios.get('https://api.data.gov/sam/v1/registrations?qterms=samAddress.stateOrProvince:MS&api_key=DEMO_KEY')
          .then(res => {
            this.items = res.data.results
          })
          .catch(err => {
            console.log(err)
          })
          .finally(() => (this.isLoading = false))
      }
    },
  methods: {
    
    submissionFinished() {
      this.files = []
      this.validInfo = false
      this.rfxVerification = false
      this.companyName = '',
      this.contactEmail = '',
      this.contactFirstName = '',
      this.contactLastName = '',
      this.entityDuns = '',
      this.entityId = '',
      this.solTitle = '',
      this.solNumber = '',
      $nuxt.$router.push('/')
    },
    rfxCheck() {
      this.rfxCheckbox = true
    },
    verifiedEntity() {
      this.$store.commit('UPDATE_ENTITY_DUNS', this.model.duns)
      this.$store.commit('UPDATE_ENTITY_ID', this.model.entityId)
      this.$store.commit('UPDATE_ENTITY_NAME', this.model.legalBusinessName)
    },
    print() {
      let filename = 'mde-submission-' + this.companyName + '-' + this.uploadId + '.png'; 

      html2canvas(this.$refs.capture).then(canvas => {
        this.printFile = canvas.toDataURL();
      }).catch((error) => {
        alert(error)
      });
      this.printModal = true
      this.printSnackbar = true
    },
    clearFiles() {
      this.files = []
      this.validInfo = false
    },
    reset() {
      this.files = []
      this.step = 1
      this.validInfo = false
      this.rfxVerification = false
      this.companyName = '',
      this.contactEmail = '',
      this.contactFirstName = '',
      this.contactLastName = '',
      this.entityDuns = '',
      this.entityId = '',
      this.solTitle = '',
      this.solNumber = ''
    },

    // handle files that are dropped onto
    // the file upload component
    handleDragDropUpload(e) {
      console.log('Files dropped')                      // so we know
      this.dragging = false                             // set css state for box
      
      // add files to array
      let droppedFiles = e.dataTransfer.files;          // transfer files from dropped cursor
      for (var i = 0; i < droppedFiles.length; i++) {   
        var file = droppedFiles[i];
        this.files.push(file);                          // for every file, append to files
      }
    },

    // push added files to array
    onFilesAdded() {
      console.log('Files added to input')
      let uploadedFiles = this.$refs.files.files;

      // add files to array
      for( var i = 0; i < uploadedFiles.length; i++ ){
        var file = uploadedFiles[i]
        this.files.push(file);
      }
    },

    // called when upload component is clicked
    addFiles() {
      this.$refs.files.click()
    },

    // called when remove file is clicked
    // in file upload component
    removeFile(item) {
      const index = this.files.indexOf(item)
      this.files.splice(index, 1)
    },

    // called when files are submitted, 
    // returns submission information
    axiosUpload() {
      let formData = new FormData()
      console.log('formdata created')

      // this.$nuxt.$loading.start()
      // this.uploading = true

      for (var i = 0; i < this.files.length; i++) {
        let file = this.files[i]
        formData.append('uri', file)
        console.log('appended file to form: ', file)
      }
      formData.append('companyName', this.companyName)
      formData.append('contactEmail',this.contactEmail)
      formData.append('contactFirstName',this.contactFirstName)
      formData.append('contactLastName',this.contactLastName)
      formData.append('entityDuns',this.entityDuns)
      formData.append('entityId', this.enttityId)
      formData.append('solNumber',this.solNumber)
      formData.append('solTitle',this.solTitle)

      axios.post( 'https://msis-procurement-api.herokuapp.com/uploads', //'http://localhost:3030/uploads',
        formData,
        {
          headers: {'Content-Type': 'multipart/form-data'},
          onUploadProgress: function( progressEvent ) {
            this.uploadPercentage = parseInt( Math.round( ( progressEvent.loaded * 100 ) / progressEvent.total ) );
          }.bind(this)
        }
      )
      .then((response) => {
        this.uploading = false
        console.log(response)
        this.uploadedFiles = response.data.files
        this.uploadId = response.data._id
        this.submissionTime = response.data.createdAt
        this.formResponse = response.data
        this.step = 5
        // this.$nuxt.$loading.finish()
      })
      .catch(function(){
        console.log('FAILURE!!');
      });
    }
  }
}
</script>

<style>
  input[type="file"]{
    position: absolute;
    top: -500px;
  }
</style>