<template>
  <v-container
    :class="$vuetify.breakpoint.smAndDown ? 'pa-0' : ''"
    grid-list-xl>
    <v-layout 
      row 
      justify-center>
      <v-flex 
        xs12 
        md6>
        <v-card flat>
          <v-card-title class="title font-weight-regular justify-space-between">
            <v-divider />
            <v-avatar
              color="primary"
              class="subheading white--text mx-2"
              size="24"
              v-text="step"/>
            <span class="mr-2">{{ currentTitle }}</span>
            <v-divider />
            
          </v-card-title>

          <v-window v-model="step">
            <v-window-item :value="1">
              <v-card-text>
                <p>
                  Welcome to the MDE Procurement Submission portal. 
                  Follow the steps on your screen and you will be able to successfully submit.
                </p>
              </v-card-text>
              <v-card-text>
                <p :class="$vuetify.breakpoint.smAndDown? 'subheading' : 'title'">Things you'll need to complete your submission:</p>
                <ol>
                  <li>Your
                    <v-menu
                      open-on-hover
                      offset-y
                      bottom>
                      <span
                        slot="activator" 
                        class="primary--text">
                        DUNS number
                      </span>
                      <v-card 
                        flat 
                        width="300"
                        color="primary"
                        dark>
                        <v-card-text>
                          DUNS numbers are 9 digit numbers required to do business with the federal government.
                        </v-card-text>
                        <v-card-actions>
                          <v-btn light>
                            Learn More
                          </v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-menu>
                    or
                    <v-menu
                      open-on-hover
                      offset-y
                      bottom>
                      <span
                        slot="activator" 
                        class="accent--text">
                        Business ID
                      </span>
                      <v-card 
                        flat 
                        width="300"
                        color="accent"
                        dark>
                        <v-card-text>
                          Business IDs are 6 or 7 digit numbers assigned to businesses registered with the MSoS.
                        </v-card-text>
                        <v-card-actions>
                          <v-btn light>
                            Learn more
                          </v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-menu>
                    
                    
                  </li>
                  <li>Your name and contact Email</li>
                  <li>
                    Your
                    <v-menu
                      open-on-hover
                      offset-y
                      bottom>
                      <span
                        slot="activator" 
                        class="deep-orange--text">
                        RFx Number
                      </span>
                      <v-card 
                        flat 
                        width="300"
                        color="deep-orange"
                        dark>
                        <v-card-text>
                          RFx numbers are required for contracts and grants with a total value
                          above $75,000. 
                        </v-card-text>
                        <v-card-actions>
                          <v-btn light>
                            Learn more
                          </v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-menu>
                    if needed for your submission.
                  </li>
                  <li>Your response in PDF format.</li>
                </ol>
              </v-card-text>
              <v-card-text>
                <v-btn 
                  color="primary"
                  outline
                  round
                  @click="setGrant">
                  Submit a grant
                </v-btn>
                or
                <v-btn 
                  color="accent"
                  outline
                  round
                  @click="setContract">
                  Submit a contract
                </v-btn>
              </v-card-text>
              
              <v-slide-y-transition>
                <v-card-text class="pt-1">
                    
                  <v-text-field
                    v-if="submissionType == 'grant'"
                    v-model="entityId"
                    color="primary"
                    box
                    label="Business ID"
                    maxlength="7"
                    count
                    type="text" />
                
                  <v-text-field
                    v-if="submissionType == 'contract'"
                    v-model="entityId"
                    color="accent"
                    box
                    label="DUNS Number"
                    maxlength="9"
                    count
                    type="text" />
                
                </v-card-text>
              </v-slide-y-transition>

            </v-window-item>

            <v-window-item :value="2">
              <v-card-text>
                <v-text-field
                  v-model="companyName"
                  label="Company or DBA Name"
                  box
                  type="text" />
                <v-text-field
                  v-model="contactEmail"
                  label="Contact Email"
                  box
                  type="text" />
                <v-text-field
                  v-model="contactFirstName"
                  label="Contact First Name"
                  box
                  type="text" />
                <v-text-field
                  v-model="contactLastName"
                  label="Contact Last Name"
                  box
                  type="text" />
                
              </v-card-text>
            </v-window-item>

            <v-window-item :value="3">
              <v-card-text>
                <v-text-field
                  v-model="solTitle"
                  label="Solicitation Title"
                  box
                  type="text" />
                <v-text-field
                  v-model="solNumber"
                  label="RFX Number"
                  box
                  type="text" />
                <v-card 
                  flat
                  color="warning">
                  <v-card-text class="pb-0">
                    <h1 class="title">NOTE:</h1>
                    If your solicitation requires an RFx number and you do not provide it, 
                    your solicitation will be invalidated. Check the box below if your solicitation does not
                    require an RFx number.
                    <v-checkbox
                      v-model="rfxVerification"
                      light
                      color="success"
                      label="My submission does not require an RFX number" />
                  </v-card-text>
                  
                </v-card>

                
              </v-card-text>
            </v-window-item>

            <v-window-item :value="4">
              <v-card
                :class="dragging ? 'light-blue lighten-4 elevation-8' : 'light-blue lighten-5 elevation-0'"
                :height="$vuetify.breakpoint.smAndDown && files.length == 0 ? '400' : null"
                @drop.stop.prevent="handleDragDropUpload"
                @dragenter.stop.prevent="dragging = true"
                @dragover.stop.prevent="dragging = true"
                @dragleave.stop.prevent="dragging = false"
                @click="addFiles">
                <v-container 
                  fill-height 
                  fluid
                  text-xs-center>
                  <v-layout
                    fill-height
                    align-center
                    justify-center
                    row>
                    <v-flex xs12>
                      <v-icon 
                        color="primary" 
                        size="48">fa-cloud-upload-alt</v-icon>
                      <p class="title primary--text">Click or drag files to attach</p>
                        
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card>

              <v-slide-x-transition>
                <v-list 
                  v-if="files.length > 0 && $vuetify.breakpoint.smAndDown" 
                  two-line
                  class="pt-0">
                  
                  <template v-for="(file, index) in files">
                    <v-list-tile
                      :key="file.name"
                      avatar
                      ripple
                      @click.stop="fileDialog = true">
                      <v-list-tile-content>
                        <v-list-tile-sub-title>Filename:</v-list-tile-sub-title>
                        <v-list-tile-title>{{ file.name }}</v-list-tile-title>
                      </v-list-tile-content>

                      <v-list-tile-action>
                        <v-icon color="error">fa-trash-alt</v-icon>
                      </v-list-tile-action>

                    </v-list-tile>
                    <v-divider
                      v-if="index + 1 < files.length"
                      :key="index" />
                    <v-dialog
                      v-model="fileDialog"
                      :key="file.name"
                      max-width="400"
                    >
                      <v-card 
                        color="error" 
                        dark>
                        <v-card-text>
                          <h1 class="body-1">Are you sure you want to delete</h1>
                        
                          <h1 class="body-2">{{ file.name }}</h1>
                        </v-card-text>
                        <v-card-actions>
                          <v-btn
                            light
                            @click="removeFile(file)">
                            Delete
                          </v-btn>

                          <v-btn
                            dark
                            outline
                            @click="fileDialog = false">
                            Cancel
                          </v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                  </template>
                </v-list>
              </v-slide-x-transition>

              
              

              <v-slide-y-transition>
                <template
                  v-if="files.length > 0 && $vuetify.breakpoint.smAndUp">
                  
                  <v-data-table
                    :items="files"
                    :headers="headers"
                    class="elevation-0"
                    item-key="name"
                    light
                    hide-actions>
                    <template
                      slot="items"
                      slot-scope="props">
                      <td>{{ props.item.name }}</td>
                      <td class="text-xs-right">{{ props.item.size }}</td>
                      <td class="text-xs-right">
                        <v-btn 
                          icon
                          dark 
                          small 
                          color="error"
                          @click="props.expanded = !props.expanded">
                          
                          <v-icon  
                            dark
                            small>fa-trash-alt</v-icon>
                        </v-btn>
                      </td>
                    </template>
                    <template 
                      slot="expand" 
                      slot-scope="props">
                      <v-card 
                        color="error" 
                        dark
                        flat>
                        <v-card-text class="body-1">
                          Are you sure you want to remove <span class="font-weight-bold">{{ props.item.name }}?</span>
                        </v-card-text>
                        <v-card-actions>
                          <v-btn
                            depressed
                            color="white"
                            light
                            @click="removeFile(props.item)">
                            Delete
                          </v-btn>
                          <v-btn
                            small
                            outline
                            color="white"
                            @click="props.expanded = !props.expanded">
                            cancel
                          </v-btn>
                        </v-card-actions>
                      </v-card>

                    </template>
                    <template slot="footer">
                      <td/>
                      <td>Number of files: {{ files.length }}</td>
                      <td>
                        <v-btn
                          small
                          color="error"
                          @click="clearFiles()">
                          Clear files
                        </v-btn>
                      </td>
                    </template>
                  </v-data-table>
                  
                </template>
              </v-slide-y-transition>
            </v-window-item>

            <v-window-item :value="5">
              <v-card-text class="py-1">
                <v-card 
                  flat
                  color="primary">
                  <v-card-text class="white--text">
                    Use this screen to verify the information being sent to MDE.
                    Verify all required files are attached and all fields are correct.
                  </v-card-text>
                </v-card>
              
                <h1 class="body-2 mt-2">Attached Files:</h1>
                <v-divider />
                <v-list
                  dense>
                  
                  <v-list-tile 
                    v-for="(file, i) in files" 
                    :key="i">
                    <v-list-tile-content>
                      <v-list-tile-sub-title>Filename:</v-list-tile-sub-title>
                      <v-list-tile-title class="text-concat">{{ file.name }}</v-list-tile-title>
                    </v-list-tile-content>
                    <v-spacer />
                    <v-list-tile-content class="text-sm-right">
                      <v-list-tile-sub-title>Size:</v-list-tile-sub-title>
                      <v-list-tile-title class="text-sm-right">{{ file.size }}</v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </v-list>

                <h1 class="body-2 mt-3">Attached Data:</h1>
                <v-divider />
                <div class="pl-3">
                  <h1 class="body-1 font-weight-light pt-1">Company: <span class="body-2">{{ companyName }}</span></h1>
                  <h1 class="body-1 font-weight-light pt-1">Company ID: <span class="body-2">{{ entityId }}</span></h1>
                  <h1 class="body-1 font-weight-light pt-1">Contact Name: <span class="body-2">{{ contactFirstName }} {{ contactLastName }}</span></h1>
                  <h1 class="body-1 font-weight-light pt-1">Email: <span class="body-2">{{ contactEmail }}</span></h1>
                  <h1 class="body-1 font-weight-light pt-1">Solicitation Title: <span class="body-2">{{ solTitle }}</span></h1>
                  <h1 class="body-1 font-weight-light pt-1">Solicitation Number: <span class="body-2">{{ solNumber }}</span></h1>
                  <v-checkbox
                    v-model="validInfo"
                    color="success" 
                    light>
                    <div slot="label">
                      <span
                        :class="validInfo ? 'body-1 success--text' : 'body-1 red--text'">By checking this box, I verify that the information above is true and correct.</span>
                    </div>
                  </v-checkbox>  
                </div>

                
              </v-card-text>
              

            </v-window-item>

            <v-window-item :value="6">
              <v-toolbar 
                color="success" 
                dense
                dark
                flat>
                <v-toolbar-title class="headline font-weight-bold">
                  Submission successful!
                </v-toolbar-title>
                <v-spacer />
                <v-toolbar-items>
                  <v-btn
                    icon
                    @click="print">
                    <v-icon>fa-print</v-icon>
                  </v-btn>
                </v-toolbar-items>
              </v-toolbar>
              
              <v-card-text class="pb-0">
                <p>
                  This screen is verification that MDE has received your submission. Write down your submission ID
                  for your records or get a printable/saveable image by clicking the print icon.
                </p>
              </v-card-text>
              
              <div ref="capture">      
                <v-card-text class="pt-0">
                  <h1 class="body-2">Submission Details:</h1>
                  <v-divider />
                  <v-list>
                    <v-list-tile>
                      <v-list-tile-action>
                        <v-icon>fa-fingerprint</v-icon>
                      </v-list-tile-action>
                      <v-list-tile-content>
                        <v-list-tile-sub-title>Submission ID:</v-list-tile-sub-title>
                        <v-list-tile-title>{{ uploadId }}</v-list-tile-title>
                      </v-list-tile-content>
                    </v-list-tile>
                    <v-divider inset/>
                    <v-list-tile>
                      <v-list-tile-action>
                        <v-icon>fa-clock</v-icon>
                      </v-list-tile-action>
                      <v-list-tile-content>
                        <v-list-tile-sub-title>Time submission received:</v-list-tile-sub-title>
                        <v-list-tile-title>{{ submissionTime }}</v-list-tile-title>
                      </v-list-tile-content>
                    </v-list-tile>
                    <v-divider inset/>
                    <v-list-tile>
                      <v-list-tile-action>
                        <v-icon>fa-paper-plane</v-icon>
                      </v-list-tile-action>
                      <v-list-tile-content>
                        <v-list-tile-sub-title>Confirmation Email:</v-list-tile-sub-title>
                        <v-list-tile-title>{{ contactEmail }}</v-list-tile-title>
                      </v-list-tile-content>
                    </v-list-tile>
                  </v-list>
                          
                  <h1 class="body-2">Files Received:</h1>
                  <v-divider />
                  
                  <v-list dense>
                    <v-list-tile 
                      v-for="(file, i) in uploadedFiles" 
                      :key="i"
                      class="my-0">
                    
                      <v-list-tile-avatar>
                        <v-icon 
                          :key="i" 
                          small
                          color="success">fa-check</v-icon>
                      </v-list-tile-avatar>
                      <v-list-tile-content>
                        <h1 
                          :key="i" 
                          class="body-1">{{ file }}</h1>
                      </v-list-tile-content>
                    </v-list-tile>
                  </v-list>
                  
                          
                  <h1 class="body-2">Attached Information:</h1>
                  <v-divider />
                  <v-list dense>
                    <v-list-tile>
                      <v-list-tile-avatar>
                        <v-icon>fa-building</v-icon>
                      </v-list-tile-avatar>
                      <v-list-tile-content>
                        <v-list-tile-sub-title>Company:</v-list-tile-sub-title>
                        <v-list-tile-title>{{ formResponse.companyName }}</v-list-tile-title>
                      </v-list-tile-content>
                    </v-list-tile>
                    
                    <v-list-tile>
                      <v-list-tile-avatar>
                        <v-icon>fa-id-card</v-icon>
                      </v-list-tile-avatar>
                      <v-list-tile-content>
                        <v-list-tile-sub-title>Entity ID:</v-list-tile-sub-title>
                        <v-list-tile-title>{{ formResponse.entityId }}</v-list-tile-title>
                      </v-list-tile-content>
                    </v-list-tile>
                    
                    <v-list-tile>
                      <v-list-tile-avatar>
                        <v-icon>fa-user</v-icon>
                      </v-list-tile-avatar>
                      <v-list-tile-content>
                        <v-list-tile-sub-title>Contact Name:</v-list-tile-sub-title>
                        <v-list-tile-title class="text-capitalize">{{ formResponse.contactFirstName }} {{ formResponse.contactLastName }}</v-list-tile-title>
                      </v-list-tile-content>
                    </v-list-tile>
                    
                    <v-list-tile>
                      <v-list-tile-avatar>
                        <v-icon>fa-paper-plane</v-icon>
                      </v-list-tile-avatar>
                      <v-list-tile-content>
                        <v-list-tile-sub-title>Email:</v-list-tile-sub-title>
                        <v-list-tile-title>{{ formResponse.contactEmail }}</v-list-tile-title>
                      </v-list-tile-content>
                    </v-list-tile>
                    
                    <v-list-tile>
                      <v-list-tile-avatar>
                        <v-icon>fa-file-alt</v-icon>
                      </v-list-tile-avatar>
                      <v-list-tile-content>
                        <v-list-tile-sub-title>Solicitation Title:</v-list-tile-sub-title>
                        <v-list-tile-title>{{ formResponse.solTitle }}</v-list-tile-title>
                      </v-list-tile-content>
                    </v-list-tile>
                    
                    <v-list-tile>
                      <v-list-tile-avatar>
                        <v-icon>fa-tags</v-icon>
                      </v-list-tile-avatar>
                      <v-list-tile-content>
                        <v-list-tile-sub-title>RFx Number:</v-list-tile-sub-title>
                        <v-list-tile-title>{{ formResponse.solNumber }}</v-list-tile-title>
                      </v-list-tile-content>
                    </v-list-tile>
                  </v-list>
                </v-card-text>
              </div>

            </v-window-item>
          </v-window>

        </v-card>
      </v-flex>
    </v-layout>

    <v-footer 
      height="auto"
      app>
      <v-toolbar 
        flat 
        color="white">
        
        <v-btn
          v-if="step < 6"
          :disabled="step === 1"
          flat
          small
          color="accent"
          @click="step--">
          Back
        </v-btn>
        <v-spacer />
        <v-btn
          v-if="step < 5"
          :disabled="(step === 1 && !entityId)"
          large
          color="primary"
          depressed
          @click="step++">
          Next
          <v-icon right>fa-caret-right</v-icon>
        </v-btn>
        <v-btn
          v-if="step === 5"
          :disabled="!validInfo"
          color="success"
          depressed
          large
          @click="submit">
          Submit
          <v-icon right>fa-cloud-upload-alt</v-icon>
        </v-btn>
        <v-btn
          v-if="step === 6"
          large
          color="accent"
          depressed
          to="/">
          Home
        </v-btn>
        <v-spacer />
      </v-toolbar>
    </v-footer>
    <v-dialog
      v-model="printModal"
      :max-width="$vuetify.breakpoint.smAndDown ? '390' : '810'">
      <v-card 
        flat 
        light>
        
        <v-card-text class="pa-1">
          
          <img 
            :src="printFile"
            :width="$vuetify.breakpoint.smAndDown ? '380' : '800'">
      
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-snackbar
      v-model="printSnackbar"
      color="accent"
      vertical
      top>
      <h1 class="subheading font-weight-bold">
        Right-click and 'View', 'Save' or 'Print' the image below for your records.
      </h1>
    </v-snackbar>
    <input
      ref="files"
      type="file"
      name="uri"
      class="hidden"
      multiple
      @change="onFilesAdded">
  </v-container>

</template>

<script>
import axios from 'axios'               // used for REST calls
import html2canvas from 'html2canvas'   // converts DIV to image for print

  export default {
    layout: 'public',
    auth: false,
    data: () => ({
      output: null,             // output for print to image
      printFile: '',            // for printing server response
      printModal: false,        // popup
      printSnackbar: false,
      step: 1,
      submissionType: '',
      fileDialog: false,
      files: [],
      validInfo: false,
      rfxVerification: false,
      dragging: false,
      headers: [                // headers for data table
        { text: 'Filename', sortable: false, value: 'name' },
        { text: 'Size', sortable: false, value: 'size', align: 'right' },
        { text: 'Delete', sortable: false, value: 'delete', align: 'right' }
      ],
      // server response
      formResponse: [],          // form response from server
      submissionTime: '',        // submission timestamp response from server
      uploadedFiles: [],         // submitted file response from server
      uploadId: '',              // database entry key response from server
    }),

    computed: {
      currentTitle () {
        switch (this.step) {
          case 1: return 'Pre-flight checks'
          case 2: return 'Contact information'
          case 3: return 'Submission information'
          case 4: return 'File attachments'
          case 5: return 'Verify submission'
          default: return 'Submission results'
        }
      },
      companyName: {
        get() {
          return this.$store.state.form.entityName
        },
        set(value) {
          this.$store.commit('UPDATE_ENTITY_NAME', value);
        }
      },
      contactFirstName: {
        get() {
          return this.$store.state.form.contactFirstName
        },
        set(value) {
          this.$store.commit('UPDATE_FIRST_NAME', value);
        }
      },
      contactEmail: {
        get() {
          return this.$store.state.form.contactEmail
        },
        set(value) {
          this.$store.commit('UPDATE_CONTACT_EMAIL', value);
        }
      },
      contactLastName: {
        get() {
          return this.$store.state.form.contactLastName
        },
        set(value) {
          this.$store.commit('UPDATE_LAST_NAME', value);
        }
      },
      entityDuns: {
        get() {
          return this.$store.state.form.entityDuns
        },
        set(value) {
          this.$store.commit('UPDATE_ENTITY_DUNS', value);
        }
      },
      entityId: {
        get() {
          return this.$store.state.form.entityId
        },
        set(value) {
          this.$store.commit('UPDATE_ENTITY_ID', value);
        }
      },
      solNumber: {
        get() {
          return this.$store.state.form.solNumber
        },
        set(value) {
          this.$store.commit('UPDATE_SOL_NUMBER', value);
        }
      },
      solTitle: {
        get() {
          return this.$store.state.form.solTitle
        },
        set(value) {
          this.$store.commit('UPDATE_SOL_TITLE', value);
        }
      }
    },
    methods: {
      addFiles() {
        // called when file upload is clicked
        console.log('addFiles called')
        this.$refs.files.click()
      },
      clearFiles() {
        this.files = []
        this.validInfo = false
      },
      handleDragDropUpload(e) {
        console.log('handleDragDropUpload called')
        this.dragging = false         // set dropzone state to ready

        let droppedFiles = e.dataTransfer.files
        for (var i = 0; i < droppedFiles.length; i++){
          this.files.push(droppedFiles[i])
        }
      },
      onFilesAdded() {
        console.log('Files added to input')
        let uploadedFiles = this.$refs.files.files;

        // add files to array
        for( var i = 0; i < uploadedFiles.length; i++ ){
          var file = uploadedFiles[i]
          this.files.push(file);
        }
      },
      print() {
        let filename = 'mde-submission-' + this.companyName + '-' + this.uploadId + '.png'; 

        html2canvas(this.$refs.capture).then(canvas => {
          this.printFile = canvas.toDataURL();
        }).catch((error) => {
          alert(error)
        });
        this.printModal = true
        this.printSnackbar = true
      },
      removeFile(item) {
        // called when remove file is clicked in file upload component
        console.log('removeFile called')
        const index = this.files.indexOf(item)
        this.files.splice(index, 1)
        this.fileDialog = false
      },
      reset() {
        this.files = []
        this.step = 1
        this.validInfo = false
        this.rfxVerification = false
        this.companyName = '',
        this.contactEmail = '',
        this.contactFirstName = '',
        this.contactLastName = '',
        this.entityDuns = '',
        this.entityId = '',
        this.solTitle = '',
        this.solNumber = ''
      },
      setContract() {
        this.submissionType = 'contract'
      },
      setGrant() {
        this.submissionType = 'grant'
      },
      submissionFinished() {
        this.files = []
        this.validInfo = false
        this.rfxVerification = false
        this.companyName = '',
        this.contactEmail = '',
        this.contactFirstName = '',
        this.contactLastName = '',
        this.entityDuns = '',
        this.entityId = '',
        this.solTitle = '',
        this.solNumber = '',
        $nuxt.$router.push('/')
      },
      submit() {
        let formData = new FormData()

        for (var i = 0; i < this.files.length; i++) {
          let file = this.files[i]
          formData.append('uri', file)
          console.log('appended file to form: ', file)
        }

        formData.append('companyName', this.companyName)
        formData.append('contactEmail',this.contactEmail)
        formData.append('contactFirstName',this.contactFirstName)
        formData.append('contactLastName',this.contactLastName)
        formData.append('entityDuns',this.entityDuns)
        formData.append('entityId', this.enttityId)
        formData.append('solNumber',this.solNumber)
        formData.append('solTitle',this.solTitle)

        // axios.post( 'http://localhost:3030/uploads',
        axios.post( 'https://msis-procurement-api.herokuapp.com/uploads', 
        formData,
        {
          headers: {'Content-Type': 'multipart/form-data'},
          onUploadProgress: function( progressEvent ) {
            this.uploadPercentage = parseInt( Math.round( ( progressEvent.loaded * 100 ) / progressEvent.total ) );
          }.bind(this)
        }
      )
      .then((response) => {
        this.uploading = false
        console.log(response)
        this.uploadedFiles = response.data.files
        this.uploadId = response.data._id
        this.submissionTime = response.data.createdAt
        this.formResponse = response.data
        this.step = 6
      })
      .catch(function(){
        console.log('FAILURE!!');
      });

      }
    }
  }
</script>

<style>
  input[type="file"]{
    position: absolute;
    top: -500px;
  }
</style>
