<template>
  <v-toolbar>
    <v-toolbar-side-icon />
    <v-toolbar-title>
      <span class="font-weight-bold headline">MDE<span class="font-weight-light">Procurement</span></span>
    </v-toolbar-title>
    <v-spacer />
    <v-toolbar-items>
      <v-menu offset-y>
        <v-list 
          class="py-0" 
          dense>
          <v-list-tile>
            <v-list-tile-action>
              <v-icon>fa-user</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <h1 class="subheading">Profile</h1>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile>
            <v-list-tile-action>
              <v-icon>fa-cog</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <h1 class="subheading">Settings</h1>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile 
            nuxt-link 
            to="/private/adduser">
            <v-list-tile-action>
              <v-icon>fa-user-plus</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <h1 class="subheading">Manage Users</h1>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile 
            class="red white--text" 
            @click="logout">
            <v-list-tile-action>
              <v-icon dark>fa-lock</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <h1 class="subheading">Logout</h1>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
        <v-btn
          v-if="this.$auth.loggedIn"
          slot="activator"
          flat
          class="text--lowercase">
          
          {{ this.$auth.user.user.email }}
          <v-icon right>fa-caret-down</v-icon>
        </v-btn>
      </v-menu>
    
      
    </v-toolbar-items>
    
  </v-toolbar>
</template>

<script>
export default {
  methods: {
    logout() {
      this.$toast.show('<h1 class="title">Logging out...</h1>')
      this.$auth.logout()
    }
  }

}
</script>

<style>

</style>
