<template>
  <div>
    <v-toolbar 
      color="white"
      flat>
      <v-toolbar-side-icon />
      <v-toolbar-title class="hidden-sm-and-down">
        <img 
          src="@/assets/mde-logo-dark.svg"
          height="50"
          nuxt-link
          to="/">
      </v-toolbar-title>
      <v-divider
        vertical
        inset
        class="mx-2 hidden-sm-and-down" />
      <v-toolbar-title class="ml-1 headline hidden-sm-and-down">
        Mississippi Department of Education
      </v-toolbar-title>
      <v-toolbar-title class="hidden-md-and-up">
        <v-list-tile-title>MDE</v-list-tile-title>
      </v-toolbar-title>
      <v-spacer />
  
    
    
      <v-toolbar-items>
        <v-btn
          flat
          to="/">
          Home</v-btn>
        <v-btn
          flat
          @click.stop="dialog = true">
          Login
        </v-btn>
      </v-toolbar-items>
    
    </v-toolbar>


    <v-dialog 
      v-model="dialog" 
      :fullscreen="$vuetify.breakpoint.smAndDown"
      max-width="400px"
      lazy>
      <v-card>
        <v-card-text class="text-xs-center">
          <h1 class="display-1 primary--text font-weight-bold">MSIS</h1>
        </v-card-text>
        <v-card-text class="pb-0">
          <v-form
            @submit.prevent="login">
            <v-text-field
              v-model="email"
              prepend-icon="person"
              color="primary"
              name="email"
              type="Email"
              label="Email"
              box
              autofocus
              required />
            <v-text-field
              id="password"
              v-model="password"
              prepend-icon="lock"
              color="primary"
              name="password"
              type="password"
              box
              label="Password"
              required
              @keydown.enter="login" />
          </v-form>
        </v-card-text>
        <v-card-text class="text-xs-center py-0">
          <v-btn
            large
            color="primary"
            depressed
            round
            @click="login">
            Login to msis
          </v-btn>
        </v-card-text>
          
        <v-card-text class="text-xs-center py-0">
          <v-btn
            disabled
            round
            depressed
            @click="login">
            <v-icon left>fab fa-google</v-icon>
            G-Suite
          </v-btn>
          <v-btn
            disabled
            round
            depressed
            @click="login">
            <v-icon left>fab fa-microsoft</v-icon>
            O365
          </v-btn>
        </v-card-text>
        <v-card-actions class="text-xs-center">
          <v-btn
            flat
            class="grey--text text--lighten-2"
            @click="adminLogin">
            <v-icon 
              small 
              left>fa-lock</v-icon>
            Admin Login
          </v-btn>
          <v-btn
            flat
            class="grey--text text--lighten-2"
            @click="userLogin">
            <v-icon 
              small 
              
              left>fa-lock</v-icon>
            User Login
          </v-btn>
        </v-card-actions>
        
      </v-card>
    </v-dialog>


    
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      dialog: false,
      email: null,
      password: null,
      title: null
    }
  },
  methods: {
    async userLogin() {
    try {
      this.$nextTick(() => {
        this.$toast.show('<h1 class="title">Logging in...</h1>')
      });
      await this.$auth.loginWith('local', {
        data: {
          strategy: 'local',
          email: 'info@mdek12.org',
          password: 'humanoid-kentucky'
        }
      })
      } catch (e) {
        console.log('username or password wrong', e)
        this.$toast.error('<h1 class="title">Username or Password wrong</h1>', {icon: "error"});
      } finally {
        this.dialog = false
        this.$toast.success('<h1 class="title">Successfully Logged In</h1>', {icon: "done"})
        this.redirect()
      }
    },
    
    async adminLogin() {
    try {
      this.$nextTick(() => {
        this.$toast.show('<h1 class="title">Logging in...</h1>')
      });
      await this.$auth.loginWith('local', {
        data: {
          strategy: 'local',
          email: 'admin@mdek12.org',
          password: 'rock-ammonite'
        }
      })
      } catch (e) {
        console.log('username or password wrong', e)
        this.$toast.error('<h1 class="title">Username or Password wrong</h1>', {icon: "error"});
      } finally {
        this.dialog = false
        this.$toast.success('<h1 class="title">Successfully Logged In</h1>', {icon: "done"})
        this.redirect()
      }
    },
    async login() {
    try {
      this.$nextTick(() => {
        this.$toast.show('<h1 class="title">Logging in...</h1>')
      });
      await this.$auth.loginWith('local', {
        data: {
          strategy: 'local',
          email: this.email,
          password: this.password
        }
      })
      } catch (e) {
        console.log('username or password wrong', e)
        this.$toast.error('<h1 class="title">Username or Password wrong</h1>', {icon: "error"});
      } finally {
        this.dialog = false
        this.$toast.success('<h1 class="title">Successfully Logged In</h1>', {icon: "done"})
        this.redirect()
      }
    },
    redirect() {
        this.$router.push('/private/submissions');
      },
    mounted() {
      // temporary workaround for $auth.redirect bug
      // if (this.$auth.loggedIn) {
      if (this.user !== null) {
        this.redirect();
      }
    }
      
  }
}
</script>

<style>

</style>
