<template>
  <v-app>
    <private-toolbar />
    <nuxt />
  </v-app>
</template>

<script>
import PrivateToolbar from '@/components/toolbars/PrivateToolbar.vue'

export default {
  components: {
    PrivateToolbar
  }
}
</script>

<style>

</style>
