<template>
  <v-app class="white">
    <public-toolbar />
    <nuxt />
  </v-app>
</template>

<script>
import PublicToolbar from '@/components/toolbars/PublicToolbar.vue'

export default {
  auth: 'false',
  components: {
    PublicToolbar
  }
}
</script>

<style>

</style>
