<template>
  <v-container
    grid-list-xl>
    <v-layout
      row
      wrap>
      <v-flex 
        xs12 
        md8
        offset-md2
        class="mt-5 mb-2">
        <p class="display-1 font-weight-bold text-sm-center">Mississippi Student Information System</p>
        <p class="subheading">
          Just let these leaves jump off the brush There we are. 
          In painting, you have unlimited power. You have the ability to move mountains. 
          Nice little fluffy clouds laying around in the sky being lazy. 
          Use what you see, don't plan it. It's almost like something out of a fairytale book.
        </p>
      </v-flex>

      <v-flex 
        xs12 
        md3
        offset-md3>
        <v-card 
          raised
          dark
          color="primary">
          <v-card-title>
            <h1 class="headline font-weight-black">MDE<span class="font-weight-light">Procurement</span></h1>
            <v-spacer />
            <v-icon>fa-file-alt</v-icon>
          </v-card-title>
              
          <v-divider />
          <v-card-text>
            <p>
              Vendors can use MDE Procurement to submit responses to solicitations and RFPs
              released by MDE.
            </p>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn 
              dark
              round
              outline
              to="/procurement/submissionwindow">
              Start Submission
              <v-icon right>fa-caret-right</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>
        
      </v-flex>

      <v-flex 
        xs12 
        md3>
        <v-card 
          raised 
          color="secondary"
          light>
          <v-card-title>
            <h1 class="headline font-weight-black">MDE<span class="font-weight-light">MIRC</span></h1>
            <v-spacer />
            <v-icon>fa-braille</v-icon>
          </v-card-title>
                
                
          <v-divider />
          <v-card-text>
            <p>
              Districts can use MIRC to request large-print or braille books
              for visually impaired students.
            </p>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn 
              light
              disabled
              round
              outline>
              Start Request
              <v-icon right>fa-caret-right</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>
        
      </v-flex>
        
    </v-layout>
      
  </v-container>
    
</template>

<script>
import axios from 'axios'

export default {
  auth: false,
  components: {},
  layout: 'public',
  data() {
    return {
      isLoading: false,
      items: [],
      model: null,
      search: null,
      verify: false,
    }
  },
  watch: {
      search (val) {
        // Items have already been loaded
        if (this.items.length > 0) return

        // If no items returned then start loading bar
        this.isLoading = true

        // Lazily load input items
        axios.get('https://api.data.gov/sam/v1/registrations?qterms=samAddress.stateOrProvince:MS&api_key=DEMO_KEY')
          .then(res => {
            this.items = res.data.results
          })
          .catch(err => {
            console.log(err)
          })
          .finally(() => (this.isLoading = false))
      }
    },
    methods: {
      verifiedEntity() {
        this.$store.commit('UPDATE_ENTITY_DUNS', this.model.duns)
        this.$store.commit('UPDATE_ENTITY_NAME', this.model.legalBusinessName)
      }
    }
  }

</script>
