<template>
  <div>
    <v-container
      grid-list-lg>
      <v-layout
        row
        wrap
        align-center
        justify-center
        my-5>
        <v-flex xs7>
          <h1 class="display-1 font-weight-bold">MSIS<span class="teal--text font-weight-light">V2</span></h1>
        
          <p class="subheading">
            Just let these leaves jump off the brush There we are. 
            In painting, you have unlimited power. You have the ability to move mountains. 
            Nice little fluffy clouds laying around in the sky being lazy. 
            Use what you see, don't plan it. It's almost like something out of a fairytale book.
          </p>
          
        </v-flex>
        
      </v-layout>
      <v-layout
        row
        wrap
        justify-center>
        <v-flex
          xs12
          sm8
          md3>
          <v-card>
            <v-card-text>
              <h1 class="headline font-weight-bold">Mississippi<span class="font-weight-light deep-purple--text">Succeeds</span></h1>
            </v-card-text>
            <v-divider />
            <v-card-text>
              If it's not what you want - stop and change it. 
              Don't just keep going and expect it will get better. 
              I want everbody to be happy. 
            </v-card-text>
          </v-card>
          <v-btn
            round
            large
            flat
            block
            href="http://msrc.mdek12.org"
            color="deep-purple">
            Visit MSRC
            <v-icon
              right>
              fa-caret-right</v-icon>
          </v-btn>
            
        </v-flex>
        <v-flex
          xs12
          sm8
          md3>
          <v-card
            class="text-sm-left">
            <v-card-text>
              <h1 class="headline font-weight-bold">MDE<span class="font-weight-light deep-orange--text">Procurement</span></h1>
            </v-card-text>
            <v-divider />
            <v-card-text>
              If it's not what you want - stop and change it. 
              Don't just keep going and expect it will get better. 
              I want everbody to be happy. 
            </v-card-text>
          </v-card>
          <v-btn
            round
            flat
            large
            block
            nuxt-link
            color="deep-orange"
            to="/procurement">
            Submit a procurement
            <v-icon
              right>
              fa-caret-right</v-icon>
          </v-btn>
            
        </v-flex>

        <v-flex
          xs12
          sm8
          md3>
          <v-card
            class="text-sm-left">
            <v-card-text>
              <h1 class="headline font-weight-bold">MDE<span class="font-weight-light indigo--text">MIRC</span></h1>
            </v-card-text>
            <v-divider />
            <v-card-text>
              If it's not what you want - stop and change it. 
              Don't just keep going and expect it will get better. 
              I want everbody to be happy. 
            </v-card-text>
          </v-card>
          <v-btn
            round
            flat
            large
            block
            nuxt-link
            color="indigo"
            to="/mirc">
            Request a book
            <v-icon
              right>
              fa-caret-right</v-icon>
          </v-btn>
            
        </v-flex>

        <!--
        <v-flex
          xs12
          sm8
          md3>
          <v-card
            flat
            class="text-sm-left">
            <v-card-text>
              <h1 class="font-weight-bold headline">MDE<span class="font-weight-light error--text text--lighten-2">Open</span></h1>
            </v-card-text>
            <v-divider />
            <v-card-text>
              These things happen automatically. 
              All you have to do is just let them happen. 
              We can fix anything with happy clouds and their tree friends.
            </v-card-text>
          </v-card>
            
          <v-btn
            round
            large
            block
            flat
            color="error lighten-2">
            Get public data
            <v-icon
              right>
              fa-caret-right</v-icon>
          </v-btn>
          
          
        </v-flex>

        <v-flex
          xs12
          sm8
          md3>
          <v-card
            flat
            class="text-sm-left">
            <v-card-text>
              <h1 class="font-weight-bold headline">MDE<span class="font-weight-light warning--text">Web</span></h1>
            </v-card-text>
            <v-divider />
            <v-card-text>
              These things happen automatically. 
              All you have to do is just let them happen. 
              We can fix anything with happy clouds and their tree friends.
            </v-card-text>
          </v-card>
            
          <v-btn
            round
            large
            flat
            block
            color="warning">
            go to mdek12.org
            <v-icon
              right>
              fa-caret-right</v-icon>
          </v-btn>
          
          
        </v-flex>
        -->
      </v-layout>
    </v-container>

  </div>
</template>

<script>
export default {
  components: {},
  layout: 'public',
  data() {
    return {}
  },
  methods: {}
}
</script>
