<template>
  <v-app>
    <v-dialog
      v-model="dialog"
      fullscreen
      lazy
      hide-overlay 
      transition="dialog-bottom-transition">
      <v-toolbar
        color="primary"
        dark
        flat>
        <v-btn
          icon
          @click="$emit('!dialog')">
          <v-icon>fa-times</v-icon>
        </v-btn>
      </v-toolbar>
      <v-container
        fill-height
        fluid
        class="primary">
        <v-layout
          row
          justify-center
          align-center
          fill-height>
          <v-flex
            xs12
            sm8
            md3>
            <v-card
              dark
              flat
              class="transparent">
              <v-card-text class="pa-0">
                <h1 class="pb-4 display-1 font-weight-bold"><span class="font-weight-light">Login</span></h1>
              </v-card-text>
              <v-card-text class="pa-0">
                <v-form
                  @submit.prevent="login">
                  <v-text-field
                    v-model="loginForm.email"
                    prepend-inner-icon="person"
                    color="cyan darken-1"
                    name="email"
                    hint="dkay@mdek12.org"
                    type="Email"
                    solo-inverted
                    flat
                    required />
                  <v-text-field
                    id="password"
                    v-model="loginForm.password"
                    prepend-inner-icon="lock"
                    color="cyan darken-1"
                    name="password"
                    hint="humanoid-mingle-kentucky"
                    type="password"
                    solo-inverted
                    flat
                    required/> <!-- 
                    @keydown.enter="login" -->
                </v-form>
              </v-card-text>
              <v-card-text class="pa-0 text-sm-center">
                <v-btn
                  class="py-1 grey--text text--darken-3"
                  large
                  color="info"
                  depressed
                  round
                  block
                  @click="login">
                  Login to msis
                </v-btn>
              </v-card-text>
              <v-card-actions>
                <v-btn
                  color="deep-orange darken-2"
                  round
                  depressed
                  block
                  @click="login">
                  <v-icon left>fab fa-google</v-icon>
                  G-Suite
                </v-btn>
                <v-btn
                  color="blue darken-1"
                  round
                  block
                  depressed
                  @click="login">
                  <v-icon left>fab fa-microsoft</v-icon>
                  O365
                </v-btn>
              </v-card-actions>
              <v-card-text>
                <a class="body-1 warning--text font-weight-bold">Register <span class="white--text font-weight-light">for an MSIS account.</span></a>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-dialog>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      loginForm: {
        email: '',
        password: ''
      },
      dialog: true
    }
  },
  methods: {
    async login() {
    try {
      this.$nextTick(() => {
        this.$nuxt.$loading.start()
      });
      await this.$auth.loginWith('local', {
        data: {
          "email": this.loginForm.email,
          "password": this.loginForm.password
          }
        })

        if (this.$auth.loggedIn) {
          console.log('success')
          // this.$toast.success('Successfully Logged In', {icon: "done"});
          // this.dialog = false
        }
      } catch (e) {
        console.log('username or password wrong')
        // this.$toast.error('Username or Password wrong', {icon: "error"});
      } finally {
        this.$nuxt.$loading.finish()
      }
    }
  }
}
</script>
